body {
    color: #414141;
    background-color: #EEEEEE;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: "Helvetica", "Arial", sans-serif;
      font-weight: normal;
    }
  
  
  /* dummy.html */
  .dummyBody{
    color: #0000FF; 
      }
  .goBack{
    text-decoration-line: none;
        color: #9dd0f3; 
  }
  .dummydudum{
    font-weight: bold;
  }
  
  
  
  /* index.html */
  .disc{
    width: 100px;
    height: 50px;
    background-color: red;
    border-radius: 0 0 50% 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:  center;
    color:azure;
    font-size: 30px;
  }
  .circle{
    width: 100px;
    height: 100px;
    background-color: #8484ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:  center;
    color:azure;
    font-size: 30px;
    margin-top: 10px;
  }
  .square{
    width: 100px;
    height: 100px;
    background-color: #9dd0f3;
    display: flex;
    align-items: center;
    justify-content:  center;
    color:azure;
    font-size: 30px;
    margin-top: 10px;
  }
  ol{
    list-style: none;
    padding: 0;
  }
  li{
    background-color: #b91c1c81;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
  }
